/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body{
    margin-bottom: 0;
}
.containerheader {
    display: flex;
    justify-content:flex-end;
    border-top: none;    
}

.elementlogo {
    flex: 1; 
}
.elementlogo img{
    width: 70px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.elementhebergement {
     margin-right: 50px;
     margin-top: -8px;
     padding-top: 14px;     
}
.elementactivite {
    margin-top: -8px;
    padding-top: 14px;
}
.elementhebergement:hover {
    border-top:  3px solid #0065FC;;
    padding-top: 12px;
}

.elementhebergement:hover a{
color: #0065FC;
}
.elementactivite:hover {
    border-top:  3px solid #0065FC;
    padding-top: 12px;
}
.elementactivite:hover {
    color: #0065FC;
}

#hebergements {
    border-top: none;
}


h1{
    margin-bottom: -10px;
}

.champrecherche {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 12px;
    width: 250px;
    margin-top: 30px;
    padding-top: 4px;   
}

.localisation {   
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 12px 0 0 12px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;  
}

.fa-location-dot {
    color: black;
}

.search {
    border: none;
    padding-left: 19px;
    
}

.btn {
    display: flex;
    background-color: #0065FC;
    color: #DEEBFF;
    border-radius: 0 12px 12px 0;
    border: none;
    padding: 10px 10px 10px 10px;
    align-items: center;
    font-size: 16px;
    width: auto;
    margin-top: -4px;
}

form {
    border-radius: 20px;
    width: auto;
}
.formu {
    display: flex;
    height: 40px;
    width: auto;
}
.textbtn {
    font-weight: bold;
}

::placeholder {
    font-size: 16px;
    color: black;
    font-weight: bold;
    /*padding-left: 30px;*/
}

button .icon{
        display: none;
    }

button .textbtn{
        display: inline;
    }

.filtre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
}

.choix_filtres {
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-left: 30px;
    font-size: 16px;
    border: 2px solid lightgrey;
    border-radius: 40px;
    font-weight: bold;
    height: 40px;
    /*width: 10%;*/
    cursor: pointer;
}
.choix_filtres:hover{
    background-color: #DEEBFF;
}
.filtreheader{
        display: flex;
        align-items: center;
    }
.cercle {
    padding-right: 10px;
}
.groupe-filtres{
    display: flex;
    width: 100%;
}
.info {
    display: flex;
    align-items: baseline;
}
.info i {
    color: #0065FC;
    border: 1px solid lightgrey;
    padding: 6px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p {
    padding-left: 10px;
}
body {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    height: 630px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements{
    margin-bottom: 50px;
}
.hebergements-marseille{
    width: 66%;
}
.hebergements-title {
    margin-bottom: 30px;
}
.cards-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -26px;
}
.card-heber{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 86%;
    height: 190px;
    margin-bottom: 40px;
}
.card-heber img{
    height: 110px;
    width: 100%;
    object-fit: cover;
    
}
.card-content-heber{
    padding-left: 10px;
    height: 65px;
}
.card-content-heber h3{
    /*margin-top: 8px;
    margin-bottom: 6px;*/
    margin: 8px 0px 6px 0px;
}
.card-content-heber p{
    margin: 0px 0px 4px 0px;
}
.hebergements-cards{
    width: 33%;
    
}
.hebergements-cards img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.afficher-plus p{
    margin-top: 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activite-cards{
    width: 23%;
}
.acti-cards{
    display: flex;
    justify-content: space-between;
}

.activite-marseille{
    padding: 0px 30px 0px 30px;
}
.card-activite{
    display: flex;
    flex-direction: column;
    height: 450px;
    margin-top: 50px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border: 1px solid #F2F2F2;
    box-shadow: 5px 5px 5px #f2f2f2;
}
.card-activite img{
    height: 400px;
    width: 100%;
    border-radius:  20px 20px 0px 0px;
    object-fit: cover;
}
.card-content-acti{
    padding-left: 20px;
    height: 40px;
}


/*******Footer*******/

.footer{
    background-color: #F2F2F2;
    display: flex;
    /*justify-content: space-around;*/
    margin-top: 50px;
}

ul{
    list-style-type: none;
}
.footer ul{
    padding-left: 0;
}
.footer li{
    margin-bottom: 15px;
}
.propos{
    width: 33%;
    padding-left: 20px;
}
.heber{
    width: 33%;
}
/*.assistance{

}*/


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container{
        padding: 0px 20px 0px 20px;
    }
    body{
        margin-bottom: 0;
    }
    .elementlogo img{
        width: 50px;
        height: 15px;
    }
    .elementhebergement{
        font-size: 14px;
        margin-right: 35px;
    }
    /*.elementhebergement:active{
        border-top: 3px solid #0065FC;
        padding-top: 12px;
        color: #0065FC;
    }*/
    .elementactivite{
        font-size: 14px;
    }
    /*.elementactivite:active{
        border-top: 3px solid #0065FC;
        padding-top: 12px;
        color: #0065FC;
    }*/
    h1{
        font-size: 18px;
    }
    .formu{
        padding-left: 0px;
    }
    .champrecherche{
        width: 374px;
    }
    .search{
        padding-right: 50px;
    }
    button .icon{
        display: none;
    }
    button .textbtn{
        display: inline;
    }
    .choix_filtres{
        width: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        cursor: none;
    }
    .choix_filtres:active{
        background-color: #DEEBFF;
    }
    .choix_filtres p{
        font-size: 14px;
    }
    .filtre{
        flex-direction: column;
        margin-top: 10px;
    }
    .filters{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .groupe-filtres{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: -66px;
    }
    .info{
        margin-bottom: 22px;
    }
    .info i{
        font-size: 10px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .hebergements-marseille{
        width: auto;
        padding: 0px 24px 0px 24px;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }
    
    .populaires-cards .card-title {
        font-size: 15px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .card{
        width: 98%;
        height: 128px;
    }
    .card img{
        height: 128px;
    }
    .activite-marseille{
        padding-top: 276px;
    }
    .activite-cards{
        height: 324px;
    }
    .acti-cards{
        height: 320px;
    }
    .card-activite{
        height: 270px;
        margin-top: 36px;
    }
    .card-activite img{
        height: 200px;
    }
    .card-content-acti{
        display: flex;
        align-items: center;
        height: 70px;
    }
    .card-title{
        font-size: 15px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body{
        margin: 0;
    }

    .main-container{
        padding: 0px;
    }
    .containerheader{
        height: 114px;
        flex-wrap: wrap;
    }
    .info{
        align-items: center;
        padding-left: 12px;
        padding-bottom: 20px;
    }
    .info i{
        font-size: 10px;
    }
    .elementlogo{
        display: flex;
        justify-content: center;
        width: 100%;
        flex: 1 auto;
    }
    .elementhebergement{
        color: black;
        border-bottom: #f2f2f2 solid 2px;
        border-top: none;
        margin: 0px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .elementhebergement:hover{
        border-top: none;
    }
    .elementhebergement:active{
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding-top: 12px;
        color: #0065FC;
    }

    .elementactivite{
        color: black;
        border-bottom: #f2f2f2 solid 2px;
        margin: 0px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .elementactivite:hover{
        border-top: none;
    }
    .elementactivite:active{
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding-top: 12px;
        color: #0065FC;
    }
    .sectionrecherche{
        padding-left: 4px;
    }
    .champrecherche{
        width: 94%;
        margin-left: 10px;
        justify-content: space-around;
    }
    h1{
        font-size: 25px;
        padding: 0px 10px 0px 12px;
        margin-top: 24px;
        margin-bottom: 10px;
    }
    .recherchep{
        font-size: 18px;
        padding: 0px 10px 0px 10px;
        margin-top: 10px;
    }
    .localisation{
        height: 30px;
        width: 9%;
        margin-right: 0px;
        margin-left: -20px;
    }
    .formu{
        width: 100%;
        height: 46px;
    }
    form{
        width: 72%;
    }
    ::placeholder{
        width: 94%;
    }
    button .icon{
        display: inline;
    }
    button .textbtn{
        display: none;
    }
    
    .btn{
        width: 26%;
        height: 50px;
        margin-left: 20px;
        margin-right: -20px;
        border-radius: 18px 18px 18px 18px;
        display: flex;
        justify-content: center;
        box-shadow: 1px 5px 0px #F2F2F2;
    }
    .filtre{
        margin: 10px 0px 0px 0px;
    }
    .filters p{
        font-size: 19px;
        padding-left: 12px;
    }
    .info{
        margin-bottom: 0px;
    }
    .groupe-filtres{
        flex-wrap: wrap;
        height: 140px;
        width: 98%;
        margin-left: 0px;
        justify-content: space-around;
    }
    .choix_filtres{
        justify-content: center;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        width: 46%;
        height: 45px;
    }
    .choix_filtres i{
        font-size: 18px;
    }
    .choix_filtres p{
        font-size: 16px;
    }
    .choix_filtres:active{
        background-color: #DEEBFF;
    }
    .hebergements-and-populaires section{
        background-color: white;
        border-radius: 0px;
        padding: 0px 16px 0px 16px;
    }
    .hebergements-and-populaires{
        flex-direction: column-reverse;
        margin-top: 0px;
        margin-bottom: 0px;
        height: auto;
    }
    .hebergements-and-populaires .populaires{
        background-color: #f2f2f2;
        padding-bottom: 30px;
        margin-top: 0px;
        padding-top: 30px;
    }
    .populaires-cards{
        display: inherit;
    }
    .hebergements-and-populaires .hebergements-marseille{
        margin-top: 20px;
        padding-right: 0;
    }
    .hebergements-title{
        margin-bottom: 14px;
        padding-top: 20px;
    }
    .cards-flex{
        flex-direction: column;
    }
    .hebergements-cards{
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }    
    .card-heber{
        margin-bottom: 0;
    }
    .populaires-cards .card{
        margin-top: 16px;
    }
    .activite-marseille{
        margin: 40px 24px 0px 24px;
        padding: 0px;
        height: 920px;
    }
    .acti-cards{
        flex-direction: column;
        margin-top: 20px;
    }
    .activite-cards{
        width: 100%;
        height: auto;
    }
    .card-activite{
        height: 220px;
        margin-top: 16px;
    }
    .card-activite img{
        height: 150px;
        object-fit: cover;
    }
    .footer{
        margin-top: 136px;
        flex-direction: column;
    }
    .propos{
        width: 100%;
    }
    .heber{
        padding-left: 20px;
        width: 100%;
    }
     .assistance{
        padding-left: 20px;

     }
}

